

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form card">
  <label for="username">Username:</label>
  <input id="username" formControlName="username" type="text">

  <label for="password">Password:</label>
  <input id="password" formControlName="password" type="password">

  <button type="submit">Register</button>
  <div *ngIf="form.invalid && (form.dirty || form.touched)">
    <p *ngIf="form.get('username')?.errors?.['required']">Username is required.</p>
    <p *ngIf="form.get('password')?.errors?.['required']">Password is required.</p>
  </div>
   <button [routerLink]="['/login']">Login</button>
  </div>
</form>




