<form class="form" [formGroup]="formUsuarios" (ngSubmit)="mostrar()">
    <h2>Formulario de usuarios</h2>
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre">
    </div>
    <div>
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" formControlName="apellido">
    </div>
    <div>
        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" formControlName="username">
    </div>
    <div>
        <label for="clave">Contraseña</label>
        <input type="password" id="clave" formControlName="clave">
    </div>
    <div>
        <label for="confirmar-clave">Confirmar contraseña</label>
        <input type="password" id="confirmar-clave" formControlName="confirmarClave">
        <!-- Mostramos un mensaje en caso de ocurrir un error de validación -->
        @if (
        this.formUsuarios.controls.confirmarClave.touched &&
        this.formUsuarios.controls.confirmarClave.hasError('losControlesNoCoinciden')
        ) {
        <p>Las contraseñas no coinciden</p>
        }
    </div>
    <div class="buttons">
        <button [disabled]="!this.formUsuarios.valid">Cargar usuario</button>
        <button type="reset">Limpiar</button>
    </div>
</form>